body, html {
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}

#brand2 {
  display: none;
}

<<<<<<< Updated upstream
#brand img {
  width: 27%;
  margin-left: 25%;
}
 

#background {
  position: relative;
=======
#headline{
  margin: 0;
  line-height: 1.4;
  margin-bottom: 14px;
  
>>>>>>> Stashed changes
}

#background img {
  width: 66%;
  position: center;
<<<<<<< Updated upstream
  padding-left: 2%;
  margin-top: 15%;
=======
  margin-left: 25%;
  margin-top: 10px;
  
  
>>>>>>> Stashed changes
}

#inserirInfo {
  margin-top: 0;
}

#infoQtd, #inserirInfo { 
  font-size: 24px;
  text-align: center;
} 

.result img {
  display: inline;
  width: 30px;
  vertical-align: sub;
}

.result p { 
  margin: 0;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#container {
  font-family: cursive;
  color: white;
  max-width: 900px; 
  max-height: 1000px;
  padding: 40px;
  background-color: rgb(158, 20, 20);
  position: absolute;
  top: 1%;
  right: 1%;
  bottom: 1%;
  
  
}
  
input { 
font-family: cursive;
width: 100%;
display: block;
padding: 5px;
box-sizing: border-box;
margin-bottom: 10px;
text-align: center;
}

button {
font-family: cursive;
font-size: 25px;
padding: 8px 50px;
color: white;
display: inline-block;
border-radius: 4px;
background-color: black;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
width: 100%;
transition: all 0.5s;
cursor: pointer;
}
  
#botaoCalcular span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
  
#botaoCalcular span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

#botaoCalcular:hover span {
padding-right: 25px;
}

#botaoCalcular:hover span:after {
opacity: 1;
right: 0; 
}

#adultos, #criancas, #duracao{
position: center;
background-color: white;

}

.qtd { 
text-align: center;
font-size: 18px;
}

a{
font-size: 10px;
color:rgb(160, 159, 159);
margin-left: 3%;
}



@media (max-width:768px) { /* celulares */

  body {
    background-color: rgb(158, 20, 20);
  }

  #brand, #background {
    display: none;
  }

  #brand2 {
    background-color: rgb(158, 20, 20);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }

  #brand2 img {
    width: 70%;
    margin-left: 15%;
  }
  
  #container {
    width: 100vw;
    position: relative;
    right: 0;
    top: 0;
    bottom: 1%;
    padding: 0 11px 0 11px;
  }

  #inserirInfo {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .qtd {
    font-size: 17px;
  }
  
  #adultos, #criancas, #duracao{
    width: 85%;
    margin: 0 25px 10px 25px;
  }

  #botaoCalcular {
    width: 85%;
    margin: 0 25px 0 25px;
  }
  
  #botaoCalcular {
    padding: 8px;
    font-size: 22px;
  }

  #infoQtd {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 15px;
  }

  .result p {
    font-size: 18px;
  }

  .result img {
    vertical-align: sub;
  }
}